body {
	background-color: red;
	}

h1 {

	color: blue;
	font-family: 'Anton', sans-serif;
	text-align: center;

	
}
/* applied shadow below! */

i {

	font-family: 'Source Code Pro', monospace;
	text-shadow: 2px 2px #ff0000;
}

a {

	font-family: 'Bree Serif', serif;;
}

b {

	background-color: lightblue
}

address {
	background-color: grey
}



p {
	text-align: center;
}

#para1 {
  text-align: center;
  color: white;
}
#para2 {
  text-align: center;
  color: blue;
}

li.class {
  background:white;
}

li.dog {
  font-family: 'Coiny', cursive;
}

li.cat {
  background-color: green

}

li.bunny {
  background-color: white
}

a {
  color: white;
  text-decoration: none; }

a:hover {color: blue;

}


